<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778102658958-63idh8eftkoc0ejpmv41njis7r65pmkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778102658958-63idh8eftkoc0ejpmv41njis7r65pmkg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>778102658958-i1p2o1m3kh64vo83sr7nku0hr6gq7l2j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBk-BWEOa8RWCNWLbwwmMWf0T0PwWr0ykw</string>
	<key>GCM_SENDER_ID</key>
	<string>778102658958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainyapps.destinationhunt</string>
	<key>PROJECT_ID</key>
	<string>destination-hunt</string>
	<key>STORAGE_BUCKET</key>
	<string>destination-hunt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778102658958:ios:515b4c61a1740678aa36df</string>
	<key>DATABASE_URL</key>
	<string>https://destination-hunt-default-rtdb.firebaseio.com</string>
</dict>
</plist>